<app-table
[showSearch]="false"
[listData]="orders"
(list)="setTableData($event)"
[displayedColumns]="displayedColumns"
>
<tr *ngFor="let row of tableData" class="font-md p-5 full-width">
    <td><input type="checkbox" [(ngModel)]="row.sel" /></td>
    <td><div (click)="toOrder(row.id)" class="touchable myA font-md">#{{row.id}}</div></td>
    <td><div class="font-md">{{row.total | currency}}</div></td>
    <td><div class="font-md">{{row.items}}</div></td>
    <td><div class="font-md">{{row.username}}</div></td>
    <td><div class="font-md">{{row.createdAt |date}}</div></td>
    <!-- <td style="width: max-content; border-bottom: 0px;"><div class="btn-primary txt" style="width: max-content;">Delete</div></td> -->
  </tr>
</app-table>