



<div>
  <div class="row jst-s_a gap-2 ml-5 mr-5">
    <div class="col-4-xl  col-10-sm col-11-xs">
        <div class="card bg-white p-3">
          <div class="row pr-1 jst-s_b al-center mb-4">
            <h2 class="">Total sells</h2>
            <div mat-icon-button [matMenuTriggerFor]="menu" class="touchable">
              <mat-icon>more_vert</mat-icon>
              </div>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
                  </button>
                  <button mat-menu-item disabled>
                  <mat-icon>voicemail</mat-icon>
                  <span>Check voice mail</span>
                  </button>
                  <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                  </button>
              </mat-menu>
          </div>
          <div style="flex-wrap: wrap;" class="row jst-s_b al-center">
            <div class="font-xl text-primary p-2">$3799.00</div>
            <div class="column g-1 al-right">
              <div class="row g-1 text-green-dark-2 font-md">
                  <div class="saw-indicator__delta-direction">
                      <span class="material-icons">trending_up</span>
                  </div>
                  <div class="saw-indicator__delta-value">34.7%</div>
              </div>
              <div class="font-md text-gray">Compared to April 2021</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4-xl  col-10-sm col-11-xs">
        <div class="card bg-white p-3">
          <div class="row pr-1 jst-s_b al-center mb-4">
            <h2 class="">Total sells</h2>
            <div mat-icon-button [matMenuTriggerFor]="menu" class="touchable">
              <mat-icon>more_vert</mat-icon>
              </div>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
                  </button>
                  <button mat-menu-item disabled>
                  <mat-icon>voicemail</mat-icon>
                  <span>Check voice mail</span>
                  </button>
                  <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                  </button>
              </mat-menu>
          </div>
          <div style="flex-wrap: wrap;" class="row jst-s_b al-center">
            <div class="font-xl text-primary p-2">$3799.00</div>
            <div class="column g-1 al-right">
              <div class="row g-1 text-red-dark-2 font-md">
                  <div class="saw-indicator__delta-direction">
                      <span class="material-icons">trending_down</span>
                  </div>
                  <div class="saw-indicator__delta-value">11.2%</div>
              </div>
              <div class="font-md text-gray">Compared to April 2021</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4-xl  col-10-sm col-11-xs">
        <div class="card bg-white p-3">
          <div class="row pr-1 jst-s_b al-center mb-4">
            <h2 class="">Total sells</h2>
            <div mat-icon-button [matMenuTriggerFor]="menu" class="touchable">
              <mat-icon>more_vert</mat-icon>
              </div>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
                  </button>
                  <button mat-menu-item disabled>
                  <mat-icon>voicemail</mat-icon>
                  <span>Check voice mail</span>
                  </button>
                  <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                  </button>
              </mat-menu>
          </div>
          <div style="flex-wrap: wrap;" class="row jst-s_b al-center">
            <div class="font-xl text-primary p-2">$3799.00</div>
            <div class="column g-1 al-right">
              <div class="row g-1 text-green-dark-2 font-md">
                  <div class="saw-indicator__delta-direction">
                      <span class="material-icons">trending_up</span>
                  </div>
                  <div class="saw-indicator__delta-value">34.7%</div>
              </div>
              <div class="font-md text-gray">Compared to April 2021</div>
            </div>
          </div>
        </div>
      </div>
      
  </div>
</div>
