



<div>
  <div class="row jst-s_a gap-2 ml-5 mr-5">
    <div class="col-4-xl  col-10-sm col-11-xs">
        <div class="card bg-white p-3">
          <div class="row pr-1 jst-s_b al-center mb-4">
            <h2 class="">Total sells</h2>
            
          </div>
          <div style="flex-wrap: wrap;" class="row jst-s_b al-center">
            <div class="font-xl text-primary p-2">{{this.ActualtotalSells | currency}}</div>
            <div class="column g-1 al-right">
              <div class={{style1}}>
                  <div class="saw-indicator__delta-direction">
                      <span class="material-icons">{{var1trending}}</span>
                  </div>
                  <div class="saw-indicator__delta-value">{{this.vartotalSells | percent:"2.1-2"}}</div>
              </div>
              <div class="font-md text-gray">Compared to previous month</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4-xl  col-10-sm col-11-xs">
        <div class="card bg-white p-3">
          <div class="row pr-1 jst-s_b al-center mb-4">
            <h2 class="">Avg sell price</h2>
            
          </div>
          <div style="flex-wrap: wrap;" class="row jst-s_b al-center">
            <div class="font-xl text-primary p-2">{{this.ActualsellsAvgPrice| currency}}</div>
            <div class="column g-1 al-right">
              <div class={{style2}}>
                  <div class="saw-indicator__delta-direction">
                      <span class="material-icons">{{var2trending}}</span>
                  </div>
                  <div class="saw-indicator__delta-value">{{this.varsellsAvgPrice| percent:"2.1-2"}}</div>
              </div>
              <div class="font-md text-gray">Compared to previous month</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4-xl  col-10-sm col-11-xs">
        <div class="card bg-white p-3">
          <div class="row pr-1 jst-s_b al-center mb-4">
            <h2 class="">number of sells</h2>
            
          </div>
          <div style="flex-wrap: wrap;" class="row jst-s_b al-center">
            <div class="font-xl text-primary p-2">{{this.ActualnumberOfSells}}</div>
            <div class="column g-1 al-right">
              <div class={{style3}}>
                  <div class="saw-indicator__delta-direction">
                      <span class="material-icons">{{var3trending}}</span>
                  </div>
                  <div class="saw-indicator__delta-value">{{this.varnumberOfSells| percent:"2.1-2"}}</div>
              </div>
              <div class="font-md text-gray">Compared to previous month</div>
            </div>
          </div>
        </div>
      </div>
      
  </div>
</div>
