<div class="product" (click)="goToDetails()" *ngIf="defaultView == true">
  <img [src]="product.thumbnail" height="270" width="270" />
  <!-- <div class="product-icon">
    <div *ngIf="product.state == productstate.onSale" class="discount">
      <span class="material-icons">discount</span>
    </div>
    <div *ngIf="product.state == productstate.new" class="new_releases">
      <span class="material-icons">new_releases</span>
    </div>
    <div *ngIf="product.state == productstate.outOfStock" class="hide_source">
      <span class="material-icons-outlined">hide_source</span>
    </div>
  </div> -->
  <div class="product-discount">
    -{{ product.discount.value}}%
  </div>
  <div class="add-to-cart" (click)="AddToFavorite()" *ngIf="!_inFavorite">
    <span class="material-icons-outlined favorite_border">favorite_border</span>
  </div>
  <div class="add-to-cart" (click)="removeFromFavorite()" *ngIf="_inFavorite">
    <span class="material-icons-outlined favorite">favorite</span>
  </div>
  <div class="product-vars">
    <div class="product-name">{{ product.name }}</div>
    <div class="product-cost">{{ product.price }}£</div>
    <div class="product-reduced_cost">{{ product.price*(1-product.discount.value/100) }}£</div>
  </div>
</div>

<div class="product-alt touchable" (click)="goToDetails()" *ngIf="defaultView == false">
  <div style="position: relative;">
    <img [src]="product.thumbnail" height="270" width="270" />
    <!-- <div class="product-icon">
      <div *ngIf="product.state == productstate.onSale" class="discount">
        <span class="material-icons">discount</span>
      </div>
      <div *ngIf="product.state == productstate.new" class="new_releases">
        <span class="material-icons">new_releases</span>
      </div>
      <div *ngIf="product.state == productstate.outOfStock" class="hide_source">
        <span class="material-icons-outlined">hide_source</span>
      </div>
    </div> -->

    <div class="product-discount">
      -{{ product.discount.value }}%
    </div>
    <div class="add-to-cart" (click)="AddToFavorite()" *ngIf="!_inFavorite">
      <span class="material-icons-outlined favorite_border"
        >favorite_border</span
      >
    </div>
    <div class="add-to-cart" (click)="removeFromFavorite()" *ngIf="_inFavorite">
      <span class="material-icons-outlined favorite">favorite</span>
    </div>
  </div>
  <div class="flex column al-left p-2">
    <div class="font-lg m-3" style="font-weight: bold;">{{ product.name }}</div>
    <div class="font-md text-secondary mt-2">category : Beauty and personal care</div>
    <div class="font-md mt-2 text-gray l-thr" >{{ product.price }}£</div>
    <div class="font-md mt-2 text-primary">{{ product.price*(1-product.discount.value/100)   }}£</div>
    <div class="font-md mt-2 text-black">short Discription : {{product.shortdetails}}</div>

  </div>
</div>
<!-- (click)="addToCart()" *ngIf="!_inCart" -->
