<div class="product" (click)="goToDetails()" *ngIf="defaultView == true">
  <img [src]="product.imgUrl" height="270" width="270" />
  <div class="product-icon">
    <div *ngIf="product.state == productstate.onSale" class="discount">
      <span class="material-icons">discount</span>
    </div>
    <div *ngIf="product.state == productstate.new" class="new_releases">
      <span class="material-icons">new_releases</span>
    </div>
    <div *ngIf="product.state == productstate.outOfStock" class="hide_source">
      <span class="material-icons-outlined">hide_source</span>
    </div>
    <!-- <div *ngIf="product.state==productstate.discontinued" class="not_interested"><span class="material-icons">not_interested</span></div> -->
  </div>
  <div class="product-discount">
    -{{ Math.round((1 - product.cost / product.prev_cost) * 100) }}%
  </div>
  <div class="add-to-cart" (click)="AddToFavorite()" *ngIf="!_inFavorite">
    <span class="material-icons-outlined favorite_border">favorite_border</span>
  </div>
  <div class="add-to-cart" (click)="removeFromFavorite()" *ngIf="_inFavorite">
    <span class="material-icons-outlined favorite">favorite</span>
  </div>
  <div class="product-vars">
    <div class="product-name">{{ product.name }}</div>
    <div class="product-cost">{{ product.cost }}£</div>
    <div class="product-reduced_cost">{{ product.cost }}£</div>
  </div>
</div>

<div class="product-alt" (click)="goToDetails()" *ngIf="defaultView == false">
  <div style="position: relative;">
    <img [src]="product.imgUrl" height="270" width="270" />
    <div class="product-icon">
      <div *ngIf="product.state == productstate.onSale" class="discount">
        <span class="material-icons">discount</span>
      </div>
      <div *ngIf="product.state == productstate.new" class="new_releases">
        <span class="material-icons">new_releases</span>
      </div>
      <div *ngIf="product.state == productstate.outOfStock" class="hide_source">
        <span class="material-icons-outlined">hide_source</span>
      </div>
      <!-- <div *ngIf="product.state==productstate.discontinued" class="not_interested"><span class="material-icons">not_interested</span></div> -->
    </div>

    <div class="product-discount">
      -{{ Math.round((1 - product.cost / product.prev_cost) * 100) }}%
    </div>
    <div class="add-to-cart" (click)="AddToFavorite()" *ngIf="!_inFavorite">
      <span class="material-icons-outlined favorite_border"
        >favorite_border</span
      >
    </div>
    <div class="add-to-cart" (click)="removeFromFavorite()" *ngIf="_inFavorite">
      <span class="material-icons-outlined favorite">favorite</span>
    </div>
  </div>
  <div class="flex column al-left p-2">
    <div class="font-lg">{{ product.name }}</div>
    <div class="font-md text-secondary m-1 ml-2">category : Beauty and personal care</div>
    <div class="font-md mt-2 text-gray l-thr" >{{ product.prev_cost }}£</div>
    <div class="font-md mt-2 text-primary">{{ product.cost }}£</div>
    <div class="flex column al-right jst-end">
      <div class="btn-outlined-primary row gap-1" 
      >
        <span class="material-icons">
            add_shopping_cart
            </span>
        <div class="font-md">Add to Cart</div>
    </div>
    </div>
    
  </div>
</div>
<!-- (click)="addToCart()" *ngIf="!_inCart" -->
