<app-table
  [listData]="productList"
  (list)="setTableData($event)"
  [displayedColumns]="displayedColumns"
>
  <tr *ngFor="let row of tableData" class="font-md p-5 full-width">
    <td><input type="checkbox" [(ngModel)]="row.sel" /></td>
    <!-- <td *ngFor="let head of displayedColumns">{{row[head.col]}}</td> -->
    <td>
      <div class="row">
        <img [src]="row.thumbnail" height="60" width="60" />
        <div class="flex column al-left">
          <div class="font-md text-black p-1">{{ row.name }}</div>
          <div class="font-md text-gray p-1">ID :{{ row.id }}</div>
        </div>
      </div>
    </td>
    <td ><div class="font-md text-black p-1">{{ row.category }}</div></td>
    <td ><div class="font-md text-black p-1">{{ row.state }}</div></td>
    <td ><div class="font-md text-black p-1">${{ row.price }}</div></td>
    <!-- <td style="width: max-content; border-bottom: 0px;"><div class="btn-primary txt" style="width: max-content;"
      (click)="deleteProd(row.id)"
      >Delete</div></td>   -->
  </tr>
</app-table>
