<div *ngFor="let order of orders" class="p-3 m-3">
    <div class="font-xl"><b>Order #{{order.id}}</b></div>
    <hr />
    <div class="row g-2 p-3">
        <div class="font-md">{{order.createdAt | date}} |</div>
        <div class="font-md">{{order.items}} items |</div>
        <div class="font-md"><b>Total :</b>{{order.total}}</div>
    </div>

    <div class="card bg-white" style="width:700px;">
        <div class="font-lg p-3"  style="border-bottom: solid 1px #999;"><b>Items</b></div>
        <div class="row g-3 al-center p-2" *ngFor="let item of order.orderItems" style="border-bottom: solid 1px #999;">
            <img [src]='item.product.thumbnail' height="60" width="60"/>
            <div class="flex font-md">{{item.product.name}}</div>
            <div class="font-md pl-3">{{item.product.price | currency}}</div>
            <div class="font-md pl-3">{{item.quantity}}</div>
            <div class="font-md pl-3">{{item.quantity*item.product.price | currency}}</div>
        </div>
        <div class="row p-3 jst-s_b">
            <div class="font-md"><b>Total</b></div>
            <div class="font-md"><b>{{order.total |currency}}</b></div>
        </div>
    </div>

</div>