
<div class="row card m-3 display-f al-center" style="position: relative;" *ngIf="this.loading.value==false">
    <div class="img">
        <img [src]='product.thumbnail' height="270" width="270"/>
    </div>
    <div class="column al-left flex">
        <div class="product-icon">
        </div>
        <div class="fav" (click)="AddToFavorite()" *ngIf="!_inFavorite"><span class="material-icons-outlined favorite_border">favorite_border</span></div>
        <div class="fav" (click)="removeFromFavorite()" *ngIf="_inFavorite"><span class="material-icons-outlined favorite">favorite</span></div>
        <div class="product-vars">
            <div class="font-lg text-primary m-1 ml-2">{{product.name}}</div>
            <div class="font-md text-secondary m-1 ml-2">category : {{product.category.name}}</div>
            <div class="font-md text-secondary m-1 ml-2">last Modification : {{product.modifiedAt}}</div>
            <div class="mt-2 mb-2">
                <app-rating [rating]="product.rating"></app-rating>
            </div>
            <div class="font-md l-thr text-gray m-1 ml-2">{{product.price}}£</div>
            <div class="font-md text-primary m-1 ml-2">{{product.price}}£</div>  
                
        </div>
        <div class="flex column jst-end al-center" style="height: 100%;">
            <div class="btn-primary row gap-1" style="width: 80%;" (click)="addToCart()" *ngIf="!_inCart">
                <span class="material-icons">
                    add_shopping_cart
                    </span>
                <div class="flex txt font-md">Add to Cart</div>
            </div>
            <div *ngIf="_inCart">
                <div class="txt font-md text-primary p-1">Product in Cart</div>
            </div>
        </div>
    </div>

        
    
</div>
<div class="card m-3">
    <div class="font-lg text-primary m-3">Details</div>
    <p class="font-md m-2">{{product.shortdetails}}</p>
    <p class="font-md m-2">{{product.details}}</p>
</div>
<!-- productDetail -->
    