
<div class="row card m-3 display-f al-center" style="position: relative;">
    <div class="img">
        <img [src]='product.imgUrl' height="270" width="270"/>
    </div>
    <div class="column al-left flex">
        <div class="product-icon">
        </div>
        <div class="fav" (click)="AddToFavorite()" *ngIf="!_inFavorite"><span class="material-icons-outlined favorite_border">favorite_border</span></div>
        <div class="fav" (click)="removeFromFavorite()" *ngIf="_inFavorite"><span class="material-icons-outlined favorite">favorite</span></div>
        <div class="product-vars">
            <div class="font-lg text-primary m-1 ml-2">{{product.name}}</div>
            <div class="font-md text-secondary m-1 ml-2">category : {{productDetail.category}}</div>
            <div class="mt-2 mb-2">
                <app-rating [rating]="productDetail.rate"></app-rating>
            </div>
            <div class="font-md l-thr text-gray m-1 ml-2">{{product.prev_cost}}£</div>
            <div class="font-md text-primary m-1 ml-2">{{product.cost}}£</div>  

        </div>
        <div class="flex column jst-end al-center" style="height: 100%;">
            <div class="btn-primary row gap-1" style="width: 80%;" (click)="addToCart()" *ngIf="!_inCart">
                <span class="material-icons">
                    add_shopping_cart
                    </span>
                <div class="flex txt font-md">Add to Cart</div>
            </div>
            <div class="row gap-2" *ngIf="_inCart">
                <div class="btn-secondary font-md p-1" (click)="reduceQuantity()">
                    <span class="material-icons">remove</span>
                </div>
                <div class="font-md" >{{quantity}}</div>
                <div class="btn-secondary font-md p-1" (click)="addQuantity()">
                    <span class="material-icons">add</span>
                </div>
            </div>
        </div>
    </div>

        
    
</div>
<div class="card m-3">
    <div class="font-lg text-primary m-3">Details</div>
    <p class="font-md m-2">{{productDetail.detail}}</p>
</div>
<!-- productDetail -->
    