<div *ngIf="loading==false">
    <div class="m-3">
        <div class="row  display-f al-center" style="position: relative;">
            <div class="img">
                <img [src]='product.thumbnail' height="270" width="270"/>
            </div>
            <div class="ml-2 flex">
                <div class="product-icon">
                </div>
                
                <div class="product-vars">
                    <div class="font-lg text-black m-2">{{product.name}}</div>
                    <div class="row al-center">
                        <app-rating [display]="true" [rating]="3"></app-rating>
                        <div class="font-md">(103) reviews</div>
                    </div>
                    <div class="row al-center">
                        <div class="font-md l-thr text-gray m-2 mb-0">{{product.price | number}}£ |</div>
                        <div class="font-lg text-primary m-2 ml-0 mb-0">{{product.price*(1-product.discount.value/100) | number}}£</div>  
                    </div>
                    <div class="font-md m-2 row al-center g-2">
                        <b>Category : </b>
                        <div class="btn-outlined-primary" (click)="toCategory(product.category.name)">{{product.category.name}}</div>
                    </div>
                    <div class="font-md m-2"><b>Last Modification : </b>{{product.modifiedAt | date}}</div>
                    <div class="font-md m-2"><b>Short Description: </b> {{product.shortdetails}} </div>

                        
                </div>
                <div class="flex row jst-center al-center g-2" style="height: 100%;width: 80%; margin: 0px auto;">
                    <div class="btn-primary row p-2 flex"  (click)="addToCart()" *ngIf="!_inCart">
                        <span class="material-icons">
                            add_shopping_cart
                            </span>
                        <div class="flex txt font-md">Add to Cart</div>
                    </div>
                    <div *ngIf="_inCart" class="flex center">
                        <div class="txt font-md text-primary p-1">Product in Cart</div>
                    </div>
                    <div class="btn-primary" (click)="AddToFavorite()" *ngIf="!_inFavorite"><span class="material-icons-outlined ">favorite_border</span></div>
                    <div class="btn-primary" (click)="removeFromFavorite()" *ngIf="_inFavorite"><span class="material-icons-outlined ">favorite</span></div>
                </div>
            </div>
        </div>
        <div class="row jst-start m-2 g+2">
            <img [src]="src"  *ngFor="let src of images" height="200" width="200">
        </div>
    </div>
    <div class="row g-2">
        <div *ngFor="let item of product.images">
            <img [src]="item.url" height="100" width="100" class="touchable">
        </div>
    </div>
    
    <div class="m-3" >
        <div class="font-lg text-primary m-3">Details</div>
        
        
        <p class="font-md m-2">{{product.details}}</p>
    </div>
</div>


