*{
    color: black;
}
.container{
    max-width: 1000px;
    background-color: white;
    border-radius: 10px;
    padding: 7px;

    margin: 10px;
}
.product{
    display: flex;
    flex-direction: row;
    position: relative;
}

.fav{
    position: absolute;
    top: 7px;
    right: 7px;
}
.fav:hover{
    cursor: pointer;
}
.title{
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
}

p{
    margin: 10px;
}
.category{
    color: rgb(34, 122, 186);
    font-size: 20px;
    margin-left: 7px;
}
.rate{
    margin: 7px;
}
.product-prev-cost{
    text-decoration: line-through;
    color: #888;
    margin: 7px;
    font-size: 18px;
}
.product-cost{
    color: black;
    margin: 7px;
    font-size: 20px;

}
.purchase{
    color: white;
    width: 90%;
    height: max-content;
    display: flex;
    flex-direction: row;
    background-color: rgb(194, 81, 0);
    padding: 7px;

}
.purchase:hover{
    cursor: pointer;
}
.purchase > div{
    flex: 1;
    text-align: center;
    color: white;
    font-weight: bold;
}
.details{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.btn{
    padding: 10px;
    flex:1;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}


.quantity{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}
.btn1{
    background-color: orange;
    height: 30px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    border-radius: 3px;
}


.btn1:hover{
    cursor: pointer;
    background-color: rgb(116, 76, 0);
    user-select: none;

}
.q{
    font-size: 22px;
}