<mat-toolbar color="rimary" class="nav">
    <div (click)="drawer.toggle()" class="touchable" style="margin-right: 10px;position: relative;top: 3px;">
      <mat-icon >menu</mat-icon>
    </div>
    <span>E-Shop</span>
    <span class="example-spacer"></span>
    <div mat-icon-button [matMenuTriggerFor]="menu" class="touchable">
        <mat-icon>more_vert</mat-icon>
    </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
</mat-toolbar>

<mat-drawer-container class="main-content">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list>
      <div mat-subheader>Hello Admin</div>
      <app-side-item [item]="item" *ngFor="let item of side"></app-side-item>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
