
mat-slider {
    width: 300px;
  }
.container{
    display: flex;
    flex-direction: row;
}
.filters{
    width: 300px;
}
.rating >b,.price >b,.categories >b{
    margin: 10px;
    font-size: x-large;
}
.rating,.price,.categories{
    padding: 20px 5px;
}
.category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.name{
    font-size: large;
}
.category:hover{
    cursor: pointer;
    opacity:0.7;
}

.priceInput{
    position: relative;
    background-color: white;
    width: max-content;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 5px;

}
.priceInput > b{
    position: absolute;
    left: 5px;
    top: 7px;
    color: #333;
    font-size: 20px;
    z-index: 10;
}
.priceInput > input{
    background-color: transparent;
    margin: 0px;
    padding: 3px 3px 3px 20px;
    font-size: 20px;
    width: 120px;
}
.prices{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    margin: 15px;
}


.main{
    flex: 1;
    background-color: rgb(199, 199, 199);
    min-height: 90vh;
}


.products{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rate{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.product_catgery{
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #333;
    margin: 10px;
}

.result_app,.product_catgery_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px 12px;
    border-bottom: solid 1px rgb(146, 146, 146);
}

.Fiter_by > *{
    font-size: 20px;
}
h2{
    margin: 0px;
    padding: 0px;
}
.result_app{
    padding: 7px;
}
.result_app >*{
    font-size: 20px;
}



.apperence{
    font-size: 30px;
    margin: 5px;
    color: rgb(68, 68, 68);
}
.apperence:hover{
    color: rgb(250, 194, 90);
    cursor: pointer;
    user-select: none;
}