<!-- <div>{{price}}</div> -->



<div class="full-width">
    <div class="products">
        <table>
            <tr>
              <th></th>
              <th>Description</th>
              <th>Quantity</th>
              <th>Remove</th>
              <th>Price</th>
            </tr>
            <tr *ngIf="products.length==0">
                <td [colSpan]="5" class="empty">
                    Cart list empty
                </td>
            </tr>
            <tr *ngFor="let item of products">
                <td class="img">
                    <img [src]='item.product.thumbnail' height="150" width="150"/>
                </td>
                <td >
                    <div class="title">{{item.product.name}}</div>
                </td>
                <td >
                    <div class="row jst-start gap-2 al-center">
                        <div class="btn-secondary font-md p-1" (click)="reduceQuantity(item.id)">
                            <span class="material-icons">remove</span>
                        </div>
                        <div class="font-md" >{{item.quantity}}</div>
                        <div class="btn-secondary font-md p-1" (click)="addQuantity(item.id)">
                            <span class="material-icons">add</span>
                        </div>                      
                    </div>

                </td>
                <td >
                    <div class="center column al-left">
                        <div class="btn-gray font-md p-1" (click)="removeFromCart(item.id)">
                            <span class="material-icons">close</span>
                        </div>
                    </div>
                </td>
                <td class="details">
                    <div class="cost">{{item.product.price}}£</div>
                </td>
            </tr>

        </table>
        <div class="row full-width">
            <div class="bg-white br-black font-md p-2 flex m-3">
                Discount 0.00£
            </div>
            <div class="bg-white br-black font-md p-2 flex m-3">
                Delivery 0.00£
            </div>            
            <div class="bg-white br-black font-md p-2 flex m-3">
                Subtotal {{price}}£
            </div>
            <div class="bg-white br-black font-md p-2 flex m-3">
                Total {{price}}£
            </div>
        </div>
        
        <div class="commande">
            <div class="discount">
                <input placeholder="please enter a promo"/>
                <div class="discount-btn button">
                    Apply Discount
                </div>
            </div>
            <div>
                <div class="checkout button">
                    <div class="check-title">Checkout</div>
                    <div>
                        <span class="material-icons" style="color: white;">shopping_bag</span>
                    </div>
                </div>
                <div class="shopping button" (click)="toHome()">
                    <div class="shopping-title">Continue Shopping</div>
                </div>
            </div>


        </div>
    </div>
</div>
