/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/filled.scss';
@import 'material-icons/iconfont/outlined.scss';
@import 'material-icons/iconfont/round.scss';
@import './cssLibrary/index.scss';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
