<form [formGroup]="loginForm" (ngSubmit)="signIn()" class="myform p-3">
  <div>
    <div class="m-1 mt-3">
      <label for="email" class="text-black font-md">Email</label>
    </div>
    <input type="email" id="email" formControlName="email" class="f-ctl">
  </div>
  <div>
    <div class="m-1 mt-3">
      <label for="password" class="text-black font-md">Mot de passe</label>
    </div>
    <input type="password" id="password" formControlName="password" class="f-ctl"/>
  </div>
  <div class="full-width center p-2">
    <button type="submit" class="btn-black font-md">Se connecter</button>
  </div>
</form>

<div class="full-width center p-2">
  <button (click)="signInWithGoogle()" class="btn-outlined-black row gap-1 font-md">Sign In with Google</button>
</div>




